.container {
    display: flex;
    border: 2px solid grey;
}
 
.board {
    display: grid;
    grid-template-rows:auto auto auto auto auto auto  ;
    grid-template-columns:auto auto auto auto auto auto  ;
    justify-content: space-evenly;
}
img {
    width: 8vw;
}
.tools {
    display: flex;
    flex-direction: column;
}